*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    text-decoration:none;
}

/******************fonts*************************************/
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.eot');
    src: url('../fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff'),
        url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light_1.eot');
    src: url('../fonts/Quicksand-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light_1.woff2') format('woff2'),
        url('../fonts/Quicksand-Light_1.woff') format('woff'),
        url('../fonts/Quicksand-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light_2.eot');
    src: url('../fonts/Quicksand-Light_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light_2.woff2') format('woff2'),
        url('../fonts/Quicksand-Light_2.woff') format('woff'),
        url('../fonts/Quicksand-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light_3.eot');
    src: url('../fonts/Quicksand-Light_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand-Light_3.woff2') format('woff2'),
        url('../fonts/Quicksand-Light_3.woff') format('woff'),
        url('../fonts/Quicksand-Light_3.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular_1.eot');
    src: url('../fonts/Oswald-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular_1.woff2') format('woff2'),
        url('../fonts/Oswald-Regular_1.woff') format('woff'),
        url('../fonts/Oswald-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular_2.eot');
    src: url('../fonts/Oswald-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular_2.woff2') format('woff2'),
        url('../fonts/Oswald-Regular_2.woff') format('woff'),
        url('../fonts/Oswald-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular_3.eot');
    src: url('../fonts/Oswald-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular_3.woff2') format('woff2'),
        url('../fonts/Oswald-Regular_3.woff') format('woff'),
        url('../fonts/Oswald-Regular_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1{
    font-family: 'Oswald';
    font-size: 66px;
    font-weight: bold;
}
h2{
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: bold;
}
p{
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: bold;
}
/**************************body**************************/

body{
    background: #F2F2F2;
    
}
/**********************header **************************/
header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    box-sizing: border-box;
}

#logo{
    height: 55px;
    margin-top: 5px;
}

#logo>img{
    height: 100%;
}
 
header>nav{
    height: 65px;
    width: 40%;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;   
}

header>nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;   
}

header>nav>ul li{
margin: 0 5px;


}
header>nav ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-transform: capitalize;  
    border-radius: 15px 15px 0 0;

}
.fd-bleu{
    background-color: #385a64;
    color: #F2B705;
}
.fd-jaune{
    background-color: #F2B705;
    color: #385a64;
}
header>nav ul li a:hover{
    opacity: 20%; 
}
#photo_profil{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: #f2a29b solid 5px;
}

#photo_profil img{
    width: 100%;
}
/* fin header******/

/**********MAIN*************/

#home{
    padding: 0 10%;
    color: #385A64;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: url(../img/Splash.svg) bottom right, 
                url(../img/Ellipse_gras_ocre.svg) 100% 25%,
                url(../img/Ellipse_gras_jaune.svg) 0 35%;
    background-repeat: no-repeat;
}
#home>div{
    flex: 1 300px;/* chaque div utilise 1 part égale du parent 
    et elle passe à la ligne à 300px (ne pas oublier flex-wrap
    sur le parent*/
}
#clou_jaune{
    margin: 0 20px;
}

#home>div>div{
    display: flex;
    width: 70%;
    margin-top: 150px;
    margin-bottom: 30px;
}

#paragraphe_home h2{
    margin-bottom: 10px;   
}

#paragraphe_home p{
    text-align: justify;
}
.gauche h1{
    transform: rotate(-15deg);
    text-align: center;
    margin: 100px 0px;
}
.gauche a{
    margin: 8%;
}
.gauche h2{
    margin-bottom: 50px; 
}
.droite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.droite>div img{
    width: 100%;
    mix-blend-mode: darken;
}
/*********************************Activités*****/
#decouverte{
    padding: 100px 10%;
    text-align: center;
    background: url(../img/Splash.svg) 10% 0, /***** sert à mettre l'image en arrière plan****/
                url(../img/Déco\ jaune.svg) 100% 20%,
                url(../img/Déco\ rose.svg) 20% 80%;
    background-repeat: no-repeat; /*** éviter que les image en arrière plan ne se répètent***********/
}
#decouverte h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #385A64;
}
#decouverte>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0;
}


#decouverte>div a div{
    width: 250px;
    height: 250px;
    margin: 25px ;
    border-radius: 50%;
    overflow: hidden;
}

#decouverte>div a div img{
    width: 100%;
}

.border_jaune{
    border: 8px solid #F2B705;
}

.border_vert{
    border: 8px solid #385A64;
}

.border_ocre{
    border: 8px solid #BF5F56;
}

#decouverte>a{
    
}
.btn{
    text-transform: uppercase;
    border-radius: 12px;
    padding: 10px 20px;
    color: #385A64;
}
.jaune{
    background-color: #F2B705;
}

/****************************Concept**********************************/
#concept{
    padding: 100px 10%;
    color: #385A64;
    background: white;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
#concept>div{
    display: flex;
    flex-wrap: wrap;
}
#concept>div h1{
    flex: 1 300px;   
}
#concept>div>div{
    flex: 1 300px;
}
#concept>div>div>a{
    margin: 0 7%
}
#paragraph_concept{
    display: flex;
    margin-bottom: 50px;
}

#paragraph_concept>img{
    margin: 0 20px;
    padding-left: 10px;
}

#paragraph_concept p{
    text-align: justify;
}



/***************************************************
                      footer
***************************************************/

footer{
    padding: 50px 0;
    background: #BF5F56;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#logo_white{
    width: 125px;
    height: 100px;
}

#logo_white>img{
    width: 100%;
}
#liens{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

#liens ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: wrap;
}
#liens ul li a{
    color: #F2F2F2;
    font-weight: bold;
}
#liens div{
    margin: 0 20px;
}
#reseaux{
    display: flex;
    justify-content:center;
    align-items: center;
}
#reseaux a{
    margin:0 15px;
}
/*****responsive 900px******/
@media screen and (max-width:900px){
    .droite{
        display: none;
    }
#home{
    height: auto;
}


}
/****** fin 900px*************/
/*****responsive 300px******/


@media screen and (max-width:500px){
   

    #home{
        background: none;
    }
    
    .gauche img{
        display: none;
    }

    #decouverte{
        background: none;
    }

    #decouverte>div a div{
        width: 100px;
        height: 100px;

    }

    #paragraph_concept img{
        display: none;
    }

#concept{
        background: none;
    }

}
/****** fin 300px*************/

/**************************Agenda**************************************/
#body_agenda{
    display: flex;
     margin-top: 5%;
    background: url(../img/Splash.svg) 28% 90%;
    background-repeat: no-repeat;
}  

/* ********** partie gauche de la page agenda */
#sidebar_calendrier{
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background: url(../img/Ellipse_gras_verte.svg) -40% 55%,
                url(../img/famille_voiture.svg) 50% 75%,
                url(../img/Splash.svg) -25% 0%;
    background-repeat: no-repeat;
    mix-blend-mode: darken; /************ pour enlever le fond de l'image***/
}

.wrapper {
    width: 300px;
    height: 400px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    border: #385A64 1px solid;
    
}


.wrapper header {
    display: flex;
    align-items: center;
    padding: 5% 10% 1%;
    justify-content: space-between;
    color: #385A64;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 20px;
    font-weight: bold;

}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 5px;
}

.calendar li {
    color: #385a64;
    width: calc(100% / 7);
    font-size: 15px;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #f2f2f2;
    font-weight: bold;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #385A64;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

/* @media screen and (max-width:1400px){
    #sidebar_calendrier{
        display: none;
    }
} */
/* ***************** Main de la page agenda */
  #bloc_planning{
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/Ellipse_gras_jaune.svg) 120% 70%;
    background-repeat: no-repeat;
  }
#header_planning{
    width: 80%;
    margin: 0 100%;
    color:#385A64; 
    font-family: 'Quicksand';
    font-size: 200%;
    text-transform: capitalize;
}

#planning{
    width: 100%;
}

#top_planning{
    width: 80%;
    margin: auto;
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: end; 
}

.btn_ocre{
    text-transform: uppercase;
    border-radius: 12px;
    padding: 10px 20px;
    color: #F2F2F2;
    background-color: #BF5F56;
}

.lien_planning{
    color: #BF5F56;
    font-weight: bold;
    margin: 0 2%;
}

#planning_journée{
    width: 80%;
    height: 600px;
    margin: auto;
    overflow: scroll;
    
    /* border: #385A64 2px solid; */ 
}

#planning_journée li{
    display: flex;
    width: 100%;
    height: 10%;
    color: #385A64;
}

.heure_planning{
    width: 15%;
    text-align: center;
}

.activites_planning{
    width: 100%;
    border: #385A6480 0.1px solid;
    border-radius: 15px;
    margin: 0 2%;
}

